<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Vidul">
    <title>Database | Admin Panel</title>

    <%- include('../partials/links') %>    

<style>
       html, body {
        height: 100%;
        font-family: cursive;
        overflow: hidden;
      }
      .card-tools{
        display: none;
      }
      .card-tool{
        display: none;
        width: 30px;
        height: 30px;
        margin: 10px;
      }
      .card:hover .card-tools .card-tool{
        display: block;
      }
      .inner-arr-txt{
        margin-left: 30px;
        margin-bottom: 0px;
      }
      #exp-arr:hover {
        cursor: pointer;
      }
</style>

  </head>
  <body>

    <!-- Icons -->
    <%- include('../partials/icons') %>

<main class="d-flex">

  <!-- Sidebar -->
  <%- include('../partials/sidebar', {page: "database"}) %>

  <!-- Body -->
  <div class="container" style="max-height: 100%;">
    <div class="d-flex gap-2" style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
        <div class="btn-group" role="group" style="height: 35px;">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
               Select Collection
            </button>
            <ul class="dropdown-menu">
                    <li><input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary dropdown-item" for="vbtn-radio1">Collection 1</label></li>
                <li><input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
                    <label class="btn btn-outline-secondary dropdown-item" for="vbtn-radio2">Collection 2</label></li>
                <li> <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                    <label class="btn btn-outline-secondary dropdown-item" for="vbtn-radio3">Collection 3</label></li>
            </ul>
          </div>
          <div class="input-group">
            <div class="input-group-text"><svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#search"/></svg></div>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Search">
          </div>
</div>

  <div class="b-divider" style="height: 5px; border-radius: 10px; margin-top: 20px; margin-bottom: 20px;"></div>

  <div style="height: 86.5%; overflow: scroll; overflow-x: hidden; position: fixed;">
  <div class="d-flex gap-3 flex-wrap" style="height: 105%; width: 1200px;">
    <div class="card" style="width: 350px; height: min-content; background-color: #1a1d20; border: none; box-shadow: 7.5px 7.5px 2.5px #2c3236;">
        <div class="card-tools z-2 d-flex position-relative flex-wrap">
            <button type="button" class="btn btn-dark card-tool position-absolute top-0 end-0" style="margin-right: 130px;" aria-disabled="false" title="Edit" aria-label="Edit"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#edit"/></svg></button>
            <button type="button" class="btn btn-dark card-tool position-absolute top-0 end-0" style="margin-right: 90px;" aria-disabled="false" title="Copy" aria-label="Copy"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#copy"/></svg></button>
            <button type="button" class="btn btn-dark card-tool position-absolute top-0 end-0" style="margin-right: 50px;" aria-disabled="false" title="Clone" aria-label="Clone"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#clone"/></svg></button>
            <button type="button" class="btn btn-danger card-tool position-absolute top-0 end-0" aria-disabled="false" title="Delete" aria-label="Delete"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#delete"/></svg></button>
        </div>
        <div class="card-body">
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">_Id : 38243297843982</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Name : Vidul Batawala</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Username : VidulHB</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Birthday : 14/11/2008</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Password : 82374fuiewh</p>
          <div class="card-text" style="margin-bottom: 0px; margin-left: 20px;">
            <span class="exp-arr" data-bs-toggle="collapse" data-bs-target="#array1" aria-expanded="false" aria-controls="array1" style="margin-left: -20px; margin-right: -10px;">
              <svg class="bi pe-none me-2 z-3" width="16" height="16"><use id="arr-pointer" xlink:href="#caret-right"/></svg>
            </span>
            <span>Array : array</span>
            <div class="collapse inner-arr-txt" id="array1">
              <span class="exp-arr" data-bs-toggle="collapse" data-bs-target="#array2" aria-expanded="false" aria-controls="array2" style="margin-left: -20px; margin-right: -10px;">
                <svg class="bi pe-none me-2 z-3" width="16" height="16"><use id="arr-pointer" xlink:href="#caret-right"/></svg>
              </span>
              <span>Array : array</span>
              <p class="collapse inner-arr-txt" id="array2">hi</p>
            </div>
          </div>
          <div class="card-text" style="margin-bottom: 0px; margin-left: 20px;">
            <span class="exp-arr" data-bs-toggle="collapse" data-bs-target="#array3" aria-expanded="false" aria-controls="array3" style="margin-left: -20px; margin-right: -10px;">
              <svg class="bi pe-none me-2 z-3" width="16" height="16"><use id="arr-pointer" xlink:href="#caret-right"/></svg>
            </span>
            <span>Array2 : array</span>
            <div class="collapse inner-arr-txt" id="array3">
              <span class="exp-arr" data-bs-toggle="collapse" data-bs-target="#array4" aria-expanded="false" aria-controls="array4" style="margin-left: -20px; margin-right: -10px;">
                <svg class="bi pe-none me-2 z-3" width="16" height="16"><use id="arr-pointer" xlink:href="#caret-right"/></svg>
              </span>
              <span>Array 2: array</span>
              <p class="collapse inner-arr-txt" id="array4">hi</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="width: 350px; height: min-content; background-color: #1a1d20; border: none; box-shadow: 7.5px 7.5px 2.5px #2c3236;">
        <div class="card-tools z-2 d-flex position-relative flex-wrap">
            <button type="button" class="btn btn-dark card-tool position-absolute top-0 end-0" style="margin-right: 130px;" aria-disabled="false" title="Edit" aria-label="Edit"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#edit"/></svg></button>
            <button type="button" class="btn btn-dark card-tool position-absolute top-0 end-0" style="margin-right: 90px;" aria-disabled="false" title="Copy" aria-label="Copy"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#copy"/></svg></button>
            <button type="button" class="btn btn-dark card-tool position-absolute top-0 end-0" style="margin-right: 50px;" aria-disabled="false" title="Clone" aria-label="Clone"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#clone"/></svg></button>
            <button type="button" class="btn btn-danger card-tool position-absolute top-0 end-0" aria-disabled="false" title="Delete" aria-label="Delete"><svg class="bi pe-none me-2 position-absolute top-50 start-50 translate-middle" width="16" height="16" style="padding-right: -10px;"><use xlink:href="#delete"/></svg></button>
        </div>
        <div class="card-body">
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">_Id : 344353255397843982</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Name : Senura Perera</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Username : senura001312</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Birthday : 24/6/2008</p>
          <p class="card-text" style="margin-bottom: 0px; margin-left: 20px;">Password : 20080612</p>
        </div>
      </div>

    </div>
  </div>
</div>
</main>
<script>
  $(".exp-arr").click(function(){
   let href = $(this).find('#arr-pointer').attr("xlink:href")
   console.log('e')
   if(href === "#caret-right"){
    $(this).find('#arr-pointer').attr("xlink:href", "#caret-down")
   }else{
    $(this).find('#arr-pointer').attr("xlink:href", "#caret-right")
   }
  })
  </script>
</html>
